*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    font-family: 'Poppins', 'Poppins";
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
     background-image: linear-gradient(#09637E, #7AB2B2);    
     min-height: 100vh;
}

:where(.config-container, .quiz-container, .result-container){
    background: white;
    border-radius: 8px;
    box-shadow:  0 10px 25px rgba(0,0,0,0.13);
}

.config-container{
    display: block;
    width: 415px;
    padding: 25px;
    text-align: center;
}

.config-container .config-title{
    font-size: 1.3rem;
}

.config-container .config-option{
    margin-top: 25px;
}

.config-option .option-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.config-option .question-options{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-option button{
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid rgb(41, 92, 178);
    transition: 0.5s ease;
}

.config-option button.active{
    color: rgb(41, 92, 178);
    border-color: rgb(41, 92, 178);
    background:#e3f2fd;
    border: 2px solid rgb(41, 92, 178);
}

.config-option button:hover,
.quiz-content .answer-option:hover{
    background: rgb(41, 92, 178);
    color: white;
}

.question-options button{
    flex: 1 1 10%;
}

.config-container .start-quiz-button,
.quiz-footer .next-question-btn,
.result-container .try-again-btn{
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background: rgb(41, 92, 178);
    padding: 13px 25px;
    font-size: 1rem;
    border-radius: 6px;
    transition: 0.3s ease;
}

.config-container .start-quiz-button{
    margin-top: 30px;
}

.config-container .start-quiz-button:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover{
    background: rgb(26 26 133);
}

.quiz-container{
    display: none;
    width: 480px;
}

.quiz-container .quiz-header{
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.09);
}

.quiz-container .quiz-title{
    font-size: 1.43rem;
    font-weight: 700;
}

.quiz-header .quiz-timer{
    display: flex;
    width: 70px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    padding: 7px 6px;
    border-radius: 6px;
    background: #32313c;
    transition: 0.3s ease;
}

.quiz-header .quiz-timer span{
    font-size: 1.4rem;
}

.quiz-container .quiz-content{
    padding: 20px 25px 25px;
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-content .answer-options{
    list-style: none;
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.quiz-content .answer-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 16px;
    background: #f3f1ff;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #b5acff;
    transition: 0.3s ease;
} 

.quiz-content .answer-option span{
    display: block;
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct{
    background-color: #b7e1c1;
    background: #d4edda;
    color: #155724;
}

.quiz-content .answer-option.incorrect{
    background-color: #f4bec3;
    color: #721c24;
}

.quiz-container .quiz-footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;
}

.quiz-footer .question-status{
    font-weight: 500;
}

.quiz-footer .question-status b{
    font-weight: 600;
}

.quiz-footer .next-question-btn{
    display: inline-flex;
    /* visibility: hidden; */
    gap: 5px;
    align-items: center;
    padding: 9px 17px;
}

.result-container{
    display: none;
    text-align: center;
    padding: 40px;
    width: 410px;
}

.result-container .result-img{
    width: 110px;
}

.result-container .result-title{
    margin-top: 30px;
}

.result-container .result-message{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
}

.result-container .try-again-btn{
    margin-top: 30px;
    padding: 12px 20px;
}
